extends ../layout

block content
    h1 Usuarios
    a(href="/usuarios/create", class="btn btn-success") Cadastro de usuários
    br
    br
    if messages.erro
        div(class="alert alert-danger fade in")
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times
            p(id="msg") #{messages.erro}
        br
    if messages.info
        div(class="alert alert-success fade in")
            a(href="#" class="close" data-dismiss="alert" aria-label="close") &times
            p(id="msg") #{messages.info}
        br
    if lista.length > 0
        div(class="table-responsive")
            table(class="table table-striped table-condensed table-hover")
                thead
                    tr
                        th ID
                        th Nome
                        th E-mail
                        th Data de Cadastro
                        th Ações
                tbody
                    each valor in lista
                        tr
                            td #{valor._id}
                            td #{valor.nome}
                            td #{valor.email}
                            td #{moment(valor.data_cadastro).format('DD/MM/YYYY HH:mm:ss')}
                            td 
                                a(href="/usuarios/show/#{valor._id}", class="btn btn-info btn-xs faa-parent animated-hover")
                                    i(class="fa fa-search fa-fw faa-wrench faa-slow")
                                a(href="/usuarios/edit/#{valor._id}", class="btn btn-warning btn-xs faa-parent animated-hover margin-l")
                                    i(class="fa fa-pencil fa-fw faa-wrench faa-slow")
    else
        p Nenhum registro encontrado!
block script
    if messages.info
        script.
            $(document).ready(function(){
                $('.alert').hide();
                $.notify('#{messages.info}', 'success');
            });
    if messages.erro
        script.
            $(document).ready(function(){
                $('.alert').hide();
                $.notify('#{messages.erro}', 'erro');
            });